# HR - Attrition Analytics

In [1]:
#Human Resources are critical resources of any organiazation. Organizations spend huge amount 
#of time and money to hire and nuture their employees. It is a huge loss for companies if employees 
#leave, especially the key resources. So if HR can predict weather employees are at risk for leaving 
#the company, it will allow them to identify the attrition risks and help understand and provie necessary 
#support to retain those employees or do preventive hiring to minimize the impact to the orgranization.

# Why are our best and most experienced employees leaving prematurely?

In [2]:
#Fields in the dataset include:

#Employee satisfaction level
#Last evaluation
#Number of projects
#Average monthly hours
#Time spent at the company
#Whether they have had a work accident
#Whether they have had a promotion in the last 5 years
#Department
#Salary
#Whether the employee has left

In [4]:
import pandas as pd
import numpy as np

In [7]:
hr_df = pd.read_csv( 'HR_perf.csv' )

Let's look at few records

In [3]:
hr_df.head(5)

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

Basic Information about column, types and if any missing data

In [6]:
hr_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14999 entries, 0 to 14998
Data columns (total 10 columns):
satisfaction_level       14999 non-null float64
last_evaluation          14999 non-null float64
number_project           14999 non-null int64
average_montly_hours     14999 non-null int64
time_spend_company       14999 non-null int64
Work_accident            14999 non-null int64
left                     14999 non-null int64
promotion_last_5years    14999 non-null int64
sales                    14999 non-null object
salary                   14999 non-null object
dtypes: float64(2), int64(6), object(2)
memory usage: 1.1+ MB

Are there any null or missing values in the dataset?

In [7]:
hr_df.isnull().any().sum()

0

No Missing Data. This seems to be a good dataset.

In [8]:
hr_df.columns

Index(['satisfaction_level', 'last_evaluation', 'number_project',
       'average_montly_hours', 'time_spend_company', 'Work_accident', 'left',
       'promotion_last_5years', 'sales', 'salary'],
      dtype='object')

Lets check corrleation between Variables

# Question1: Predict Attrition using the follwing models
1. Logistic Regression
2. Decision Trees
3. Bagging
4. AdaBoost
5. RandomForest

# Question2: Improve the accuracy by optimizing hyperparameters of the models